/* CSS Information */
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-width: 960px;
    margin: 0px;
    font-family: 'Segoe UI', Geneva, sans-serif;
    font-size: 16px;
    font-weight:500;
    background-color: white;
}
h1 {
    color: #1D3557;
    font-family: Calibri, sans-serif;
    font-size: 60px;
    font-style: italic;
 }
h2 {
    color:#1D3557;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
h3 {
    color:#457B9D;
    font-family: Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
}
h4  {
    color:black;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
p   {
    font-family: 'Segoe UI', Geneva, sans-serif;
    font-size: 16px;
}

/* CSS Header Information */
header {
    height: 125px;
    display: flex;
    position: relative;
    border-bottom: 20px solid #A62639;
 }
 .center  {
    width: 960px;
    margin: 0px auto;
}
.logo {
    position: absolute;
    margin: 30PX 0px;
}
.title  {
    margin: 40PX 0 0 90px;
}
/* Page Information */
.page {
    display: grid;
    grid-template-columns: 250px 1fr;
}
/* Top Navigation */
.topnav {
    width: 100%;
    height: 60px;
    border-top: 5px solid #bfbfbf; 
    border-bottom: 5px solid #bfbfbf;
    background-color: #457B9D;   
}
.topnav ul{
    font-size: 20px;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 5px;

 }
.topnav li {
    flex: 1 1 auto;
}
.topnav a:link {
    display: block;
    padding: 15px;
    text-decoration: none;
    margin: 0px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.topnav a:visited {
    color: white;
}
.topnav a:hover {
    color: white;
    background-color: #1d3557;  
}
.topnav a:active {
    color: white;
    background-color: #1d3557;
}
.active    {
    color: #1D3557;    
}

/* CSS Side Naviation */
.sidenav {
    background-color: #457B9D;
    font-size: 20px;
    margin: 0px; 
 }
.sidenav ul {
    list-style-type: none;
    padding: 0 10px;
    margin: 10px 0 0 0;
}
.sidenav a:link {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}
.sidenav a:visited {
    color: white;
}
.sidenav a:hover {
    color: white;
    background-color: #1d3557;
}
.sidenav a:active {
    color: white;
    background-color: #182327;
}
/* Main Section CSS */
main {
    grid-column: 2/3;
}
.page_title {
    text-align: left;
    margin-left: 20px;
}
.familypix  {
    max-width: 100%;
    max-height: 100%;
}
.calendar   {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    background-color: #457B9D;
}
.famcal {
    grid-column: 1/2;
    max-width: 100%;
    max-height: 100%;
}
.dinner {
    grid-column: 2/3;
    max-width: 100%;
    max-height: 100%;%;
}
footer {
    display: grid;
    grid-template-columns: 700px 1fr;
    color: white;
    background-color: #457B9D;  
    border-top: 5px solid #bfbfbf; 
    border-bottom: 5px solid #bfbfbf;
}
/*footer */
.copyright  {
    padding-left: 30px;
}
.bottom_nav {
    padding-top: 15px;
}
.bottom_nav a:link, a:visited  {
    color: white;
    text-decoration: none;
    padding-right: 100px;
    font-weight: bold;
}
.bottom_nav a:hover, a:active {
    color: #182327;
}




