/* CSS Information */
body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    min-width: 960px;
    margin: 0px;
    font-family: 'Segoe UI', Geneva, sans-serif;
    font-size: 14px;
    background-color: #bfbfbf;  
    font-weight: 500;
}

h1 {
    color: #1D3557;
    font-family: Calibri, sans-serif;
    font-size: 60px;
    font-style: italic;
    text-align: center;
 }
h2 {
    color:#1D3557;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
h3 {
    color:#1D3557;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
h4 {
    color:#1D3557;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
p   {
    font-family: 'Segoe UI', Geneva, sans-serif;
    font-size: 16px;
}

/* CSS Header Information */
header {
    height: 125px;
    display: flex;
    position: relative;
    border-bottom: 20px solid #A62639;
    background-color: white;
 }
 .center  {
    width: 960px;
    margin: 0px auto;
}
.logo {
    position: absolute;
    margin: 30PX 0px;
}
.title  {
    margin: 40PX 0 0 90px;
}
main    {
    max-width: 1400px;
    margin: 0px auto;  
    background-color: white;
    min-height: 625px;  
    margin-top: 0px;  
}

/* Top Navigation */
.topnav {
    width: 100%;
    height: 60px;
    border-top: 5px solid #bfbfbf; 
    border-bottom: 5px solid #bfbfbf;
    background-color: #457B9D;   
}
.topnav ul{
    font-size: 16px;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    margin-top: 5px;
    padding-left: 0px;

 }
.topnav li {
    flex: 1 1 auto;
}
.topnav a:link {
    display: block;
    padding: 15px;
    text-decoration: none;
    margin: 0px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.topnav a:visited {
    color: white;
}
.topnav a:hover {
    color: #457B9D; 
    background-color: #1D3557;
}
.topnav a:active {
    color: white;
    background-color: #1D3557;
}
.topnav a.current    {
    color: #1D3557;
}
/* CSS Side Naviation */
.sidenav {
    width: 175px; 
    grid-row: 1/5;
    background-color: #457B9D;
    border-right: 5px solid #bfbfbf;
    font-size: 16px;
    z-index: 1;
}
.sidenav ul {
    list-style-type: none;
    padding: 0 10px;
}
.sidenav a:link {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}
.sidenav a:visited {
    color: white;
}
.sidenav a:hover {
    color: white;
    background-color: #1D3557;
}
.sidenav a:active {
    color: white;
    background-color: #1D3557;
}
.sidenav a.current    {
    color: #1D3557;
}
/* Home Page Information */
.home-page  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.familypix  {
    grid-column: 1/5;
}
.welcome    {
    padding: 0 20px;
    font-size: 24px;
    color: #1D3557;
}
.welcome2    {
    grid-column: 1/5;
    padding: 0 20px;
}
/* News Page */
.newsletter {
    display: grid;
    grid-template-columns: 175px 1fr;
}
.news {
    columns: 5 ;
    column-gap: 40px;
    column-rule: 2px solid #bfbfbf;
    column-fill: balance;
    -webkit-column-break-inside: avoid;
    top: 0;
    margin: 0px 20px 0 30px;
    min-height: 650px;   
}
.newsletter h2 {
    grid-column: 2/3
    text-align: center;
    column-span: all;
}
section {
    margin-bottom: 30px;
}
.news p {
    page-break-after: avoid;
}
.post {
    text-align: justify;
}
.post h4    {
    margin: 0 0 20px 0;
}
.post img    {
    width: 100%;
    object-fit: cover;
}
.post button {
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.hide{
    display: none;
}

/*Calendar Page */
.cal_page   {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #bfbfbf;
}
.calendar   {
    margin-left: 1.5em;
}
/* Recipe Pages */
.recipes   {
    display: grid;
    grid-template-columns: 175px repeat(6, 1fr);
    grid-template-rows: 100px 230px 1fr;
    grid-gap: 2em;
    justify-content: center;
    margin-right: 2em; 
 }
.rec_title  {
    grid-column: 2/8;
    margin-bottom: 0;
}
.card {
    height: 230px;
    overflow: hidden;
    box-shadow: 0px 2px 20px gray;
    border-radius: 5px;
    cursor: pointer;
}
.card:hover {
   transform: scale(1.05); 
}
.card-image {
    width: 100%;
    object-fit: cover;
}
.card-title {
    margin-top: .25em
}
.card a  {
    text-decoration: none;
}
.contribute {
    grid-row: 3/4;
    grid-column: 2/5;
    justify-self: center;
    text-align: center;
}

.contribute img {
    box-shadow: 0px 5px 25px gray;
    border-radius: 5px;
}
.rec_form   {
    grid-column: 5/8;
    grid-row: 3/5;
    margin: 0 50px;
}
.recipe_comment  {
    height: 240px;
} 


/* Photo Album */
.photos   {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .7em;
}
.photo_title  {
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
 
.gallery img {
    width: 100%;
    height: auto;
  }

.karen4 {
    grid-column: 3/5;
    grid-row: 2/3;
} 

.desc {
    padding: 15px;
    text-align: center;
  }

  
/*Memories Page */
.memories   {
    display: grid;
    grid-template-columns: 175px 1fr 1fr;
    min-height: 650px;
 
}
.mem_title  {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
/* History Page */
.history   {
    display: grid;
    grid-template-columns: 175px 1fr 1fr;
    min-height: 650px;

}
.his_title  {
    grid-column: 2/4;
    grid-row: 1/2;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.page {
    display: grid;
    grid-template-columns: 175px 1fr;
}
/* Personal Pages */
.personal_page  {
    display: grid;
    grid-template-columns: 175px repeat(4, 1fr);
    min-height: 650px;
}
/* About Page */


/* Contact Page */
.contact   {
    display: grid;
    grid-template-columns: 400px 1fr;

}
.contact-text   {
    margin: 0;
    padding-bottom: 20px;
}
.contact-left   {
    padding: 30px;
}
.form input[type=text], select, textarea   {
    height: 25px;
    width:100%;
    border: 1px solid #457B9D;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
}
.form input[type=email], select, textarea {
    height: 25px;
    width: 100%;
    border: 1px solid #457B9D;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
}
.textarea   {
    height: 125px;
}
.contact button {
    width: 100px;
    height: 36px;
    background-color: #457B9D;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}
.contact button:hover{
    background-color: #1D3557;
}
.contact button:active  {
    background-color: #1D3557;
    box-shadow: 0 5px #bfbfbf; 
    transform: translateY(4px);
}
.contact-right  {
    align-self: center;
    justify-self: center;
}
.contact-right img  {
    box-shadow: 0px 10px 50px black;
}
footer {
    display: grid;
    height: 100px;
    grid-template-columns: 700px 1fr;
    color: white;
    background-color: #457B9D;  
    border-top: 5px solid #bfbfbf; 
    border-bottom: 5px solid #bfbfbf;
}
/*footer */
.copyright  {
    padding: 20px 0 0 30px;
    margin: 0;
}
.bottom_nav {
    justify-self: center;
    padding: 20px 0 0 30px;

 
}
.bottom_nav a:link, a:visited  {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-right: 75px;
}
.bottom_nav a:hover, a:active {
    color: #182327;
}





