body {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Segoe UI', Geneva, sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight:500;
    background-color: #759275;
    max-width: 960px;
}
header, footer {
    background-color: #fadbbb;
 }

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px 0px 30px;
    margin-bottom: 5px;
}

main {
    background-color: #fadbbb;
    padding: 0 30px 10px 30px;
}
h1 {
    color: #759275;
    font-family: Helvetica, sans-serif;
    font-size: 45px;
    margin: 0;
    padding: 10px;
    font-style: italic;
    text-shadow: 2px 2px 3px #182327;
}
h2 {
    color:#759275;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    text-shadow: 2px 2px 3px #182327;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    margin-top: 5px;
 }

/* Class Information */

/* Header CSS */
.logo {
    width: 120px;
    height: auto;
}
.topnav {
    font-size: 25px;
    list-style-type: none;
    display: flex;
    margin: 0;
 }

.topnav li {
    flex: 1 1 auto;
}
.topnav a:link {
    display: block;
    padding: 25px;
    text-decoration: none;
    background-color: #fadbbb;
    margin: 0px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.topnav a:visited {
    color: black;
    background-color: #fadbbb;
}
.topnav a:hover {
    color: #fadbbb;
    background-color: #759275;
}
.topnav a:active {
    color: #fadbbb;
    background-color: #759275;
}
.active   {
    color: #759275;
}
/* Footer CSS */ 
.copyright  {
    font-size: 15px;
}
.bottomnav  {
     list-style-type: none;
}
ul.bottomnav    {
    margin: 0;
    padding: 0;
}
.bottomnav a:link {
    display: block;
    text-decoration: none;
    background-color: #759275;;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.bottomnav a:visited {
    color: black;
    background-color: #fadbbb;
}
.bottomnav a:hover {
    color: #fadbbb;
    background-color: #759275;
}
.bottomnav a:active {
    color: #fadbbb;
    background-color: #759275;
}
.social a:link  {
    text-decoration: none;
}
/* Home Page CSS */
.banner {
    max-width: 920px;
    position: relative;
}
.banner img     {
}
.button a  {
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color: #759275;
    font-weight: bold;
    position: absolute;
    bottom: 45px;
    left: 25px;
    background-color:  #fadbbb;
    border: 5px solid #759275;
    padding: 15px;
    box-shadow: 0 0 20px black;
}
.button a:visited   {
    color: #759275;
    background-color: #fadbbb;
}
.button a:hover     {
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275;
}
.butonn a:active    {
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275;  
}
.tworafts    {
    box-shadow: 0 5px 25px black;
    margin: 20px 0;
 }
.section1  {
    display: grid;
    grid-template-rows: 50px 100px;
}
.run    {
    margin: 10px;
}
.intro   {
    Margin: 20px; 
    line-height: 25px;
}
.section2   {
    display: grid;
    grid-template-rows: 150px 200px;
    grid-template-columns: 400px 1fr;
    margin-bottom: 20px;
}
.calm {
    grid-column: 2;
    margin: 0;
}
.calm    {
    box-shadow: 0 5px 25px black;
    margin: 20px 0;
}
.relax  {
    grid-row: 1;
    padding: 0px 55px;
    margin-top: 50px;
 }
 .scenery   {
    align-items: center;
    padding: 10px 35px;
    margin: 0px;
    line-height: 25px;
}
.wild   {
    line-height: 25px;
}
.call   {
    line-height: 25px;
}
.section3   {
    display: grid;
    grid-template-rows: 175px 175px;
    grid-template-columns: 1fr 400px;
    margin-bottom: 20px;
}
.whitewater  {
    grid-row: 1;
    grid-column: 1;
    align-items: center;
}
.whitewater    {
    box-shadow: 0 5px 25px black;
    margin: 20px 0;
}
.rush{
    margin-top: 75px;
}
.wild {
    grid-column: 2;
    align-items: center;
    padding: 10px 45px;
    margin: 0px;
}
.section4  {
    display: grid;
    grid-template-rows: 50px 100px;
}
.invite {
    margin: 10px;
}
.call      {
    grid-row: 2;
    text-align: center;
    Margin-top: 20px; 
 }
 
/* Tour Page CSS */
.tourinfo   {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 10px;
    padding: 0;
}
.title  {
    grid-column: 2/4;
    padding: 20px;
}
.container1 {
    grid-row: 1/4;
    border-right: 5px solid #759275;
    position: relative;
} 
.mist {
    padding: 20px;  
}  
.get{
    padding: 20px 0;
    border-bottom: 5px solid  #759275;
} 
.get p {
    line-height: 8px;
}
.expect{
    padding: 20px 0;
    border-bottom: 5px solid  #759275;    
} 
.expect p {
    line-height: 8px;
}
.contact  {
    padding: 20px 0;
    border-bottom: 5px solid  #759275;    
   
} 
.contact p  {
    line-height: 8px;
}
.rentals {
    padding: 20px 0; 
}
.equipment p {
    padding: 0 50px;
    line-height: 8px;
    text-align: left;  
}
.container2    {
    text-align: left;
}

.half   {
    margin-bottom: 20px; 
    position: 

}
.half p {
    margin: 0;
}
.full   {
    margin-bottom: 20px;   

}
.full p {
    margin: 0 20px;
}

.week p {
    margin: 0 20px;
}
.perfect    {
    text-align: left;
    padding-top: 10px;
}
.tourbullets    {
    text-align: left;
    margin-top: 0;
}

.heading    {
    margin-bottom: 0;
}
.container2 img {
    box-shadow: 0 5px 25px black;
}
.pictures img   {
    padding: 15px 0;
}
.girls {
margin-bottom: 20px;
}

.button2 a:link  {
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color: #759275;
    font-weight: bold;
    position: absolute;
    top: 55px;
    left: 60px;
    background-color:  #fadbbb;
    border: 5px solid #759275;
    padding: 15px;
    box-shadow: 0 0 20px black;
}
.button2 a:visited   {
    color: #759275;
    background-color: #fadbbb;
}
.button2 a:hover     {
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275;
}
.button2 a:active    {
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275;  
}

/* About Page CSS */
.aboutgrid    {
    display: grid;
    grid-template-columns: 350px 1fr 1fr;
    padding: 0;
    margin: 0;
}
.abouttitle    {
    grid-column: 1/4;
    padding: 20px 0 30px 0;
    border-bottom: 5px solid  #759275;    
}
.aboutus2   {
    margin: 10px;
}
.aboutus    {
    grid-column: 1;
    grid-row: 2/6;
    border-right: 5px solid  #759275;  
    padding: 10px 0 60px 0;
    position: relative;
}
.aboutus p  {
    padding: 0 20px;
}
.button3 a:link  {
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    left: 95px;
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275; 
    padding: 10px;
}
.button3 a:visited   {
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275; 
}
.button3 a:hover     {
    text-decoration: none;
    color: #759275; 
    background-color: #fadbbb;
    border: 5px solid #759275;
}
.button3 a:active    {
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275; 
}
.guides {
    grid-column: 2/4;
}
.mark   {
    grid-column: 2/3;
    padding: 0 20px;
}
.mark img {
    border: 3px solid #759275;
    border-radius: 50%;
}
.denise {
    grid-column: 3/4;
    padding: 0 20px;
}
.denise img {
    border: 3px solid #759275;
    border-radius: 50%;
}
.ashley  {
    grid-column: 2/3;
    padding: 0 20px;
}
.ashley img {
    border: 3px solid #759275;
    border-radius: 50%;
}
.kyle   {
    grid-column: 3/4; 
    padding: 0 20px; 
}
.kyle img {
    border: 3px solid #759275;
    border-radius: 50%;
}
.jack  {
    grid-column: 2/3;
    padding: 0 20px;
}
.jack img {
    border: 3px solid #759275;
    border-radius: 50%;
}
.mckenzie  {
    grid-column: 3/4;
    padding: 0 20px;
}
.mckenzie img {
    border: 3px solid #759275;
    border-radius: 50%;
}
.theriver   {
    grid-column: 1/4;
    border-top: 5px solid  #759275; 
    position: relative; 
}
.river7 {
    float: right;
    padding: 10px;
}
.aboutriver {
    grid-row: 7;
    padding: 10px;
}
.aboutriver h2  {
    margin: 10px;
}
.aboutriver p   {
   padding: 10px;
}

/* Contact Page CSS */
.contact2    {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-text   {
    grid-column: 1/3;
    text-align: left;
}
.contact-left    {
    grid-column: 1/2;
    text-align: left;
    padding-right: 30px;
}
.contact2 input[type=text], select, textarea{
    height: 36px;
    width: 100%;
    border: 1px solid #759275; 
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
}
.contact2 input[type=email], select, textarea {
    height: 36px;
    width: 100%;
    border: 1px solid #759275; 
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
}
.contact2 input[type=tel], select, textarea {
    height: 36px;
    width: 100%;
    border: 1px solid #759275; 
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
}
.contact2 input[type=date], select, textarea {
    height: 36px;
    width: 100%;
    border: 1px solid #759275; 
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
}
.contact2 select {
height: 36px;
width: 100%;
border: 1px solid #759275; 
border-radius: 5px;
margin-top: 6px;
margin-bottom: 16px;
}
.contact2 input[type=number]  {
    height: 36px;
    width: 15%;
    border: 1px solid #759275; 
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
}
.textarea   {
    height: 150px;
}
.contact2 button {
    width: 100px;
    height: 36px;
    background-color: #759275; 
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}
.callus {
    margin-bottom: 25px;
}
.contact-right  {
    margin-top: 20px;
    padding: 10px 40px;
}
.contact-info   {
    line-height: 5px;
    border: 3px solid #759275;
    padding: 0 10px 10px 10px;
}
.contact-info h2 {
    padding: 10px;
}
.calendar   {
    grid-column: 2/3;
    padding: 0 60px;
}
.calendar h2    {
    margin: 0 0 15px 0;
}
.month  {
    padding: 10px;
    background-color: #759275;
    text-align: center;
}
.month ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.month ul li    {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.weekdays   {
    margin: 0;
    padding: 10px 0;
    background-color: #c8d3c8;
}
.weekdays li    {
    display: inline-block;
    width: 13%;
}
.days {
    padding: 3px 0;
    background: #eee;
    margin: 0;
}
.days li {
    display: inline-block;
    list-style-type: none;
    width: 13%;
    height: 30px;
    font-size: 14px;
}
.shade  {
    background-color: #759275;;
}
.blank  {
    color: white;
}
.start  {
    background-color: #c8d3c8;
}
.shading    {
    font-size: 14px;

}