body {
    display: block;
    margin: 0;
    font-family: 'Segoe UI', Geneva, sans-serif;
    text-align: center;
    font-weight:500;
    background-color: #759275;
}

header, footer {
    background-color: #fadbbb;
 }

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 30px 10px 30px;
}

footer {
   display: flex;
   justify-content: space-between;
   padding: 20px 30px 20px 30px;
}

main {
    margin: 0;
    background-color: #fadbbb;
    padding: 0 30px 30px 30px;
}
h1 {
    color: #759275;
     font-family: Helvetica, sans-serif;
    font-size: 45px;
    margin: 0 0 20px 0;
    font-style: italic;
    text-shadow: 2px 2px 3px #182327;
}
h2{
    color: #759275;
    font-family: Helvetica, sans-serif;
    margin: 10px;
    text-shadow: 1px 1px 0px #182327;
}
h3 {
    color:#759275;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    margin: 20px;
    text-shadow: 2px 2px 3px #182327;;
}

p   {
    font-family:'Segoe UI', sans-serif;
    line-height: 25px;
}

main img {
   box-shadow: 0 0 25px black;
   margin: 20px 0;
}

.logo {
    width: 125px;
    height: auto;
}

.page  {
    width: 960px;
    margin: 0 auto;
}

.topnav {
    font-size: 25px;
    list-style-type: none;
    display: flex;
    margin: 0;
 }

.topnav li {
    flex: 1 1 auto;
}

.topnav a {
    display: block;
    padding: 25px;
    text-decoration: none;
    background-color: #fadbbb;
    margin: 0px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.topnav a:visited {
    color: black
    background-color: #fadbbb;
}
.topnav a:hover {
    color: #fadbbb;
    background-color: #759275;
}
.topnav a:active {
    color: #fadbbb;
    background-color: #759275;
}
.banner {
    max-width: 920px;
    position: relative;
}
.button {
    position: absolute;
    top: 45px;
    left: 25px;
    background:  #fadbbb;
    border: 5px solid #759275;
    padding: 5px 10px;
    box-shadow: 0 0 20px black;
}
.copyright  {
    font-size: 14px;
    align-items: left;
}

.social a:link  {
    text-decoration: none;
}
