body {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Segoe UI', Geneva, sans-serif;
    font-size: 17px;
    text-align: center;
    font-weight:500;
    background-color: #759275;
    max-width: 960px;
}
header, footer {
    background-color: #fadbbb;
 }

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 30px 0px 30px;
    margin-bottom: 10px;
}

main {
    background-color: #fadbbb;
    padding: 0 30px 10px 30px;
}
h1 {
    color: #759275;
    font-family: Helvetica, sans-serif;
    font-size: 45px;
    margin: 0;
    padding: 10px;
    font-style: italic;
    text-shadow: 2px 2px 3px #182327;
}
h2 {
    color:#759275;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    font-style: italic;
    text-shadow: 2px 2px 3px #182327;
}

p   {
    line-height: 25px;
}

main img {
   box-shadow: 0 0 25px black;
   margin: 20px 0;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    margin-top: 10px;
 }

/* CSS Information */
.page  {
    max-width: 960px;
    margin: 0 auto;
}
/* CSS Header Information */
.logo {
    width: 120px;
    height: auto;
}

.topnav {
    font-size: 25px;
    list-style-type: none;
    display: flex;
    margin: 0;
 }

.topnav li {
    flex: 1 1 auto;
}

.topnav a:link {
    display: block;
    padding: 25px;
    text-decoration: none;
    background-color: #fadbbb;
    margin: 0px;
    text-align: center;
    color: black;
    font-weight: bold;
}
.topnav a:visited {
    color: black;
    background-color: #fadbbb;
}
.topnav a:hover {
    color: #fadbbb;
    background-color: #759275;
}
.topnav a:active {
    color: #fadbbb;
    background-color: #759275;
}

/* CSS Banner Information */
.banner {
    max-width: 920px;
    position: relative;
}
.button a  {
    display: block;
    text-decoration: none;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    color: #759275;
    font-weight: bold;
    position: absolute;
    bottom: 45px;
    left: 25px;
    background-color:  #fadbbb;
    border: 5px solid #759275;
    padding: 15px;
    box-shadow: 0 0 20px black;
}
.button a:visited   {
    color: #759275;
    background-color: #fadbbb;
}
.button a:hover     {
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275;
}
.butonn a:active    {
    text-decoration: none;
    color: #fadbbb;
    background-color: #759275;  
}

/* CSS Main Section 1 */
.section1  {
    display: grid;
    grid-template-rows: 50px 100px;
}
/* Section 1 Heading */
.run    {
    margin: 10px;
}
/* Section 1 paragraph */
.intro   {
    Margin: 20px; 
}

/* CSS Main Section 2 */
.section2   {
    display: grid;
    grid-template-rows: 150px 200px;
    grid-template-columns: 400px 1fr;
    margin-bottom: 20px;
}
/* Section 2 image */
.calm {
    grid-column: 2;
    margin: 0;
}
/* Section 2 Heading */
.relax  {
    grid-row: 1;
    padding: 0px 55px;
    margin-top: 50px;
 }
 /* Section 2 paragraph */
.scenery   {
    align-items: center;
    padding: 10px 35px;
    margin: 0px;
}

/* CSS Main Section 3 */
.section3   {
    display: grid;
    grid-template-rows: 175px 175px;
    grid-template-columns: 1fr 400px;
    margin-bottom: 20px;
}
/* Section 3 image */
.whitewater  {
    grid-row: 1;
    grid-column: 1;
    align-items: center;
}
/* Section 3 Heading */
.rush{
    margin-top: 75px;
}
/* Section 3 paragraph */
.wild {
    grid-column: 2;
    align-items: center;
    padding: 10px 45px;
    margin: 0px;
}

/* CSS Main Section 4 */
.section4  {
    display: grid;
    grid-template-rows: 50px 100px;
}
/* Section 4 Heading */
.invite {
    margin: 10px;
}
/* Section 4 paragraph */
.call      {
    grid-row: 2;
    text-align: center;
    Margin-top: 20px; 
 }

 /* CSS Footer */ 
.copyright  {
    font-size: 14px;
}
.social a:link  {
    text-decoration: none;
}
