.post button {
    padding: 10px;
    background-color: #ff0268;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.post:not(:last-child) {
    margin-bottom: 50px;
} 
#more {display: none;}