body {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #e9d07e;
    font-family: 'Segoe UI', Geneva, sans-serif;
}

body {
    display: block;
}

header, footer {
    margin: 0 auto;
    border: 5px solid #2bb8d1;
    padding: 0.5rem;
    background-color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

header {
    grid-template-columns: 300px 1fr;
}

footer {
    grid-template-columns: 800px 1fr;
}
main {
    margin: 1rem auto;
    background-color: #e9d07e;
    padding: 1rem;
}
h1, h2  {
    color: #2bb8d19c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}
/* class selectors */
.logo {
    width: 100px;
    height: auto;
}

.page  {
    width: 960px;
    margin: 0 auto;
}

